<!DOCTYPE html>
{% extends 'cbApp/base.html' %}
     {% block body_block %}
         <h1> This is the Branded beer list </h1>
              <table border="2">
                  <thead>
                      <th> Beer Name</th>
                      <th>Detail</th>
                      <th>Update</th>
                      <th>Delete</th>
                  </thead>
                    {% for beer in beer_list %}
                      <tr>
                          <td>{{beer.name | title}}</td>
                          <td><a href="/{{beer.id}}"> Detail</a></td>
                          <td><a href="/update/{{beer.id}}">Update</a></td>
                          <td><a href="">Delete</a></td>
                      </tr>
                    {% endfor %}
              </table>
     {% endblock %}