<!DOCTYPE html>
{% extends 'cruApp/base.html' %}
    {% block body_block %}
       <h1>Employee Information Dashboard</h1>
       <table border="2">
           <thead>
               <th>Employee No</th>
               <th>Employee Name</th>
               <th>Employee Salary</th>
               <th>Employee Address</th>
               <th>Actions</th>
           </thead>
           {% for l in list %}
           <tr>
               <td>{{l.eno}}</td>
               <td>{{l.ename}}</td>
               <td>{{l.esal}}</td>
               <td>{{l.eaddr}}</td>
               <td>
                   <a href="/update/{{l.id}}">Update</a>
                   <a href="/delete/{{l.id}}">Delete</a>
               </td>
           </tr>
           {% endfor %}
       </table><br><br>
        <a class="btn btn-primary" href="/">Do you want to insert a new Record</a>
    {% endblock %}
